@model Braz.Models.Vacancy
@{
    var local = (Dictionary<string, string>)ViewData["Local"];
    ViewBag.Title = local["Header-"+Model.Id.ToString()];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="vacancy">
        <div class="outer">
            <div class="main-content">
                <h2>@local["Header-"+Model.Id.ToString()]</h2>
                <div class="desc-name">
                    <h3>@local["Description"]</h3>
                </div>
                <p class="desc">@local["Description-" + Model.Id.ToString()]</p>
                <div class="row">
                    <div class="col-md-12">
                        <h4>@local["Requirements"]</h4>
                        <ul>
                            @foreach(string req in local["Requirements-" + Model.Id.ToString()].Split('|'))
                            {
                                <li>@req</li>
                            }
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <h4>@local["Duties"]</h4>
                        <ul>
                            @foreach(string dut in local["Duties-" + Model.Id.ToString()].Split('|'))
                            {
                                <li>@dut</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <a href="#">@local["SendRes"]</a>
                <div class="drag">@local["Drag"]</div>
            </div>
        </div>
    </section>


    <div id="page-preloader"><span class="spinner"></span></div>


