@{
    var local = (Dictionary<string, string>)ViewData["Local"];
    ViewBag.Title = local["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="contactPage">
<div class="titleMapBlock">
        <p>@Html.Raw(local["Adress"])</p>
    </div> 
    <div class="container">
<div class="row">
<br>
<br>
<div class="col-md-6 col-sm-offset-3  col-sm-6">
                <div class="contactItem">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="~/Content/img/dir2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7">
                            <p>@local["Founder"]</p>
                            <span>@local["Shapran"]</span>
                            <p>+38 (044) 579-90- 51</p>
                            <a href="office@braz.com.ua ">
                                office@braz.com.ua 
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
</div>
        <div class="row">
<div class="col-md-6  col-sm-6">
                <div class="contactItem">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="~/Content/img/contacts/5.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7">
                            <p>@local["General"]</p>
                            <span>@local["Ajrapetyan"]</span>
                            <p>+38 (044) 579-90-53</p>
                            <a href="reception@braz.industries">
                                reception@braz.industries
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6  col-sm-6">
                <div class="contactItem">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="~/Content/img/contacts/9.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7">
                            <p>@local["Commerce"]</p>
                            <span>@local["Marcin"]</span>
                            <p>+38 (044) 579-90- 53</p>
                            <a href="m.gasiorowski@braz.industries">
                                m.gasiorowski@braz.industries
                            </a>
                        </div>
                    </div>
                </div>
            </div>
</div>
<div class="row">
            <div class="col-md-6  col-sm-6">
                <div class="contactItem">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="~/Content/img/contacts/6.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7">
                            <p>@local["TopSeller"]</p>
                            <span>@local["Shatalov"]</span>
                            <p>+38 (044) 579-90-52</p>
                            <a href="sales@braz.industries">
                                sales@braz.industries
                            </a>
                        </div>
                    </div>
                </div>
            </div>

<div class="col-md-6 col-sm-6">
                <div class="contactItem">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="~/Content/img/contacts/1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-7">
                                <p>@local["TopBugh"]</p>
                                <span>@local["McDeniel"]</span>
                                <p>+38 (04594) 6-53-18</p>
                                <a href="accountancy@braz.industries">
                                    accountancy@braz.industries
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <div class="row">

<div class="col-md-6  col-sm-6">
                <div class="contactItem">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="~/Content/img/contacts/8.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7">
                            <p>@local["Supply"]</p>
                            <span>@local["Gasanova"]</span>
<p>+38 (044) 579-90- 27</p>
                            <a href="gasanova@braz.com.ua">
                                gasanova@braz.com.ua
                            </a>
                        </div>
                    </div>
                </div>
            </div>

<div class="col-md-6 col-sm-6">
                <div class="contactItem">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="~/Content/img/contacts/3.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7">
                            <p>@local["TopSupply"]</p>
                            <span>@local["Pican"]</span>
                            <p>+38 (044) 579-90-27</p>
                            <a href="supply@braz.industries">
                                supply@braz.industries
                            </a>
                        </div>
                    </div>
                </div>
            </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
                    <div class="contactItem">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="~/Content/img/contacts/7.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-7">
                                <p>@local["HR"]</p>
                                <span>@local["Kovkrak"]</span>
                                <p>+38 (044) 579-90-73</p>
                                <a href="hr@braz.industries">
                                    hr@braz.industries
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

 <div class="col-md-6 col-sm-6">
                    <div class="contactItem">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="~/Content/img/contacts/10.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-7">
                                <p>@local["EWEHR"]</p>
                                <span>@local["FIL"] </span>
<p>+38 (044) 579-90- 73</p>
<a href="e.fil@braz.com.ua">
                                    e.fil@braz.com.ua
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

</div>
<div class="row">
            <div class="col-md-6  col-sm-6">
                <div class="contactItem">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="~/Content/img/contacts/4.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7">
                            <p>@local["Sbit"]</p>
                            <span>@local["Otroda"]</span>
                            <p>+38 (044) 579-90-54</p>
                            <a href="realization@braz.industries">
                                realization@braz.industries
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="contactItem">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="~/Content/img/contacts/2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-7">
                            <p>@local["Marketing"]</p>
                            <span>@local["Lisak"]</span>
                            <p>+38 (044) 579-90-34</p>
                            <a href="marketing@braz.industries">
                                marketing@braz.industries
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        </div>
</section>