@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var local = (Dictionary<string, string>)ViewData["Translation"];
    var catalog = (Dictionary<string, string>)ViewData["CatalogTrans"];
    var post = (Dictionary<string, string>)ViewData["PostTrans"];
    if((string)HttpContext.Current.Session["Lang"]=="English")
    {
        System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("en-US");
    }
    ViewBag.Title = local["Title"];
}
@section MainSlider
{
    <video autoplay loop id="main_video">
        <source src="~/Content/img/bgvid.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
    <svg class="arrows">
        <path class="a1" d="M0 0 L30 32 L60 0"></path>
        <path class="a2" d="M0 20 L30 52 L60 20"></path>
        <path class="a3" d="M0 40 L30 72 L60 40"></path>
    </svg>
}
@section PageMeta
{

<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconvers.."/>
</div>
</noscript>
}
<section class="quote_s">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-0">
<br>
<br>
<br>
<br>
                <img aos="fade-right" aos-duration="800" src="~/Content/img/dir.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="quote_block" aos="fade-left" aos-duration="800">

                    <p>
                        «@local["ShapranSpeech"]»
                    </p>
                    <h3>@local["ShapranName"]</h3>
                    <div class="line"></div>
                    <span>@local["WhoShapran"]</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="companies_s">
    <div class="overlay">
        <div class="title_block">
            <h2>
                @local["CompGroup"]
            </h2>
            <div class="line"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-5 col-xs-6 col-xs-offset-3">
                    <img src="~/Content/img/companies/alumeta.png" alt="" class="img-responsive" aos="zoom-in">
                </div>
            </div>
            <div class="row">
                <div class="companies">
                    <div class="item">
                        <a href="/"><img src="~/Content/img/companies/ind.png" class="img-responsive" alt="" aos="fade-right"></a>
                        <p class="compDescr" style="width: 140%; left: -20%">
                            @local["BrazDescr"]
                        </p>
                    </div>
                    <div class="item">
                        <a href="/Pages/Group/BrazLine"><img src="~/Content/img/companies/line.png" class="img-responsive" alt="" aos="fade-right" aos-delay="100"></a>
                        <p class="compDescr" style="width: 140%; left: -20%">
                            @local["LineDescr"]
                        </p>
                    </div>
<div class="item">
                        <a href="/Pages/Group/Acore"><img src="~/Content/img/companies/acore.png" class="img-responsive" alt="" aos="fade-right" aos-delay="400"></a>
                        <p class="compDescr" style="width: 140%; left: -20%">
                            @local["AcoreDescr"]
                        </p>
                    </div>
                    <!-- <div class="item">
                        <a href="/Pages/Group/teploEnergy"><img src="~/Content/img/companies/trade.png" class="img-responsive" alt="" aos="fade-right" aos-delay="200"></a>
                        <p class="compDescr" style="width: 140%; left: -20%">
                            Броварытеплоэнергия - крупнейшая в Украине инновационная компания по производству альтернативных источников тепла и электроэнергии
                        </p>
                    </div> -->
                    <div class="item">
                        <a href="/Pages/Group/BrazConstruction"><img src="~/Content/img/companies/const.png" class="img-responsive" alt="" aos="fade-right" aos-delay="300"></a>
                        <p class="compDescr" style="width: 140%; left: -20%">
                            @local["ConstrDescr"]
                        </p>    
                    </div>
                    
<!--<div class="item">
                        <img src="~/Content/img/companies/energy.png" class="img-responsive" alt="" aos="fade-right" aos-delay="500">
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video_s">
<!-- <div class="break1"></div> -->
    <!-- <div class="title_block">
            <h2>
                Видеопрезентация Броварского Алюминиевого Завода
            </h2>
            <div class="line"></div>
        </div> -->

    <iframe id="youtubeVideo" width="1280" height="720" src="https://www.youtube.com/embed/qGhiAiQB4-E?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
    <!-- <div class="break2"></div> -->
</section>
<!-- advantages SCREEN -->

<section class="adv_s" id="adv_s">
    <div class="title_block">
        <h2>
            @local["AdvantTitle"]
        </h2>
        <div class="line"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="adv_slider owl-carousel">
                <div class="item">
                    <div class="adv_img">
                        <img src="~/Content/img/advantages/1.jpg" alt="">
                    </div>
                    <div class="adv_txt">
                        <h4>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            @local["AdvantFull"]
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <div class="adv_img">
                        <img src="~/Content/img/advantages/2.jpg" alt="">
                    </div>
                    <div class="adv_txt">
                        <h4>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            @local["AdvantSuper"]
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <div class="adv_img">
                        <img src="~/Content/img/advantages/3.jpg" alt=""> 
                    </div>
                    <div class="adv_txt">
                        <h4>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                           @local["AdvantProiz"]
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <div class="adv_img">
                        <img src="~/Content/img/advantages/4.jpg" alt="">
                    </div>
                    <div class="adv_txt">
                        <h4>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            @local["AdvantLaba"]
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <div class="adv_img">
                        <img src="~/Content/img/advantages/5.jpg" alt="">
                    </div>
                    <div class="adv_txt">
                        <h4>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            @local["AdvantQuality"]
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <div class="adv_img">
                        <img src="~/Content/img/advantages/6.jpg" alt="">
                    </div>
                    <div class="adv_txt">
                        <h4>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            @local["Advant40"]
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <div class="adv_img">
                        <img src="~/Content/img/advantages/7.jpg" alt="">
                    </div>
                    <div class="adv_txt">
                        <h4>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            <div class="border"></div>
                            @local["AdvantSpec"]
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78619463-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- SELLERS SCREEN -->
<section class="sellers_s" id="sellers_s">      
    <div class="overlay">
        <div class="break1"></div>
        <div class="container">
            <div class="title_block">
                <h2>
                    @local["SellersTitle"]
                </h2>
                <div class="line"></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="seller_block" aos="flip-left" aos-duration="800">
                        <div class="photo">
                            <img src="~/Content/img/sellers/2.jpg" class="img-responsive" alt="">
                        </div>
                        <h5>@local["SellerPaxolok"] <span>@local["Manager"]</span> </h5>
                        <p>
                            <span>E-Mail: </span><a href="mailto:paholok@braz.com.ua">paholok@braz.com.ua</a> <br>
                            <span>@local["Phone"]:</span>  <a href="tel:+38(067)461-66-40">+38(067)461-66-40</a> <br>
                            <span>@local["Phone"]:</span> <a href="tel:044 579 90 18">044 579 90 18</a>
                        </p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="seller_block" aos="flip-left" aos-delay="200" aos-duration="800">
                        <div class="photo">
                            <img class="img-responsive" src="~/Content/img/sellers/1.jpg" alt="">
                        </div>
                        <h5>@local["SellerShatalov"] <span>@local["Topmanager"]</span> </h5>
                        <p>
                            <span>E-Mail: </span><a href="mailto:a.shatalov@braz.com.ua"></a>a.shatalov@braz.com.ua <br>
                            <span>@local["Phone"]:</span> <a href="tel:+38(067)327-53-25">+38(067)327-53-25</a><br>
                            <span>@local["Phone"]:</span> <a href="tel:044 579 90 18">044 579 90 18</a>
                        </p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="seller_block" aos="flip-left" aos-delay="400" aos-duration="800">
                        <div class="photo">
                            <img class="img-responsive" src="~/Content/img/sellers/3.jpg" alt="">
                        </div>
                        <h5>@local["SellerPopov"] <span>@local["Manager"]</span> </h5>
                        <p>
                            <span>E-Mail:</span> <a href="mailto:popov.i@braz.com.ua "></a>popov.i@braz.com.ua  <br>
                            <span>@local["Phone"]</span> <a href="tel:+380 4616625">+38(067)461-66-25</a> <br>
                            <span>@local["Phone"]:</span> <a href="tel:044 579 90 18">044 579 90 18</a>
                        </p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="seller_block" aos="flip-left" aos-delay="600" aos-duration="800">
                        <div class="photo">
                            <img class="img-responsive" src="~/Content/img/sellers/4.jpg" alt="">
                        </div>
                        <h5>@local["SellerNesterec"] <span>@local["Manager"]</span> </h5>
                        <p>
                            <span>E-MAil:</span> <a href="mailto:v.nesterets@braz.com.ua"></a>v.nesterets@braz.com.ua <br>
                            <span>@local["Phone"]:</span>  <a href="tel:+38(067)327-53-02">+38(067)327-53-02</a> <br>
                            <span>@local["Phone"]:</span> <a href="tel:044 579 90 18">044 579 90 18</a>
                        </p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="seller_block" aos="flip-left" aos-delay="800" aos-duration="800">
                        <div class="photo">
                            <img class="img-responsive" src="~/Content/img/sellers/7.jpg" alt="">
                        </div>
                        <h5>@local["SellerFedorov"] <span>@local["Manager"]</span> </h5>
                        <p>
                            <span>E-Mail: </span><a href="mailto:fedorov@braz.industries"></a>fedorov@braz.industries <br>
                            <!-- <span>Тел.:</span>  <a href="tel:+38(067)329-53-23">+38(067)329-53-23</a><br> -->
                            <span>@local["Phone"]:</span> <a href="tel:+38 044 579 90 18">+38 044 579 90 18</a>

                        </p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="seller_block" aos="flip-left" aos-delay="1000" aos-duration="800">
                        <div class="photo">
                            <img class="img-responsive" src="~/Content/img/sellers/6.jpg" alt="">
                        </div>
                        <h5>@local["SellerDanil"] <span>@local["Manager"]</span> </h5>
                        <p>
                            <span>E-Mail: </span><a href="mailto:d.danilov@braz.com.ua"></a>d.danilov@braz.com.ua <br>
                            <span>@local["Phone"]:</span> <a href="tel:+38(067)327-53-24">+38(067)327-53-24</a><br>
                            <span>@local["Phone"]:</span> <a href="tel:044 579 90 18">044 579 90 18</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="break2"></div>
    </div>
</section>


<!-- CATALOG SECTION -->

<section class="catalog_s" id="catalog_s">
    <div class="title_block">
        <h2>
            @catalog["Title"]
        </h2>
        <div class="line"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="cat_item" aos="zoom-in">
                    <img src="~/Content/img/catalog/1.jpg" alt="" class="img-responsive">
                    <div class="overlay">
                        <h5>
                            @catalog["SuperCatPolosa"] 
                            <div class="line"></div>
                        </h5>
                        <a href="/catalog/index/polosa" class="more">@local["Details"] <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4  col-sm-6">
                <div class="cat_item" aos="zoom-in">
                    <img src="~/Content/img/catalog/2.jpg" alt="" class="img-responsive">
                    <div class="overlay">
                        <h5>
                            @catalog["SuperCatPipes"] 
                            <div class="line"></div>
                        </h5>
                        <ul>
                            <li><a href="/catalog/index/truba_kruglaya">@catalog["CatRoundPipe"] </a></li>
                            <li><a href="/catalog/index/truba_kvadratnaya">@catalog["CatSquarePipe"]</a></li>
                            <li><a href="/catalog/index/truba_pryamougolnaya">@catalog["CatRectPipe"]</a></li>
                            <li><a href="/catalog/index/truba_trexgrannaya">@catalog["Cat3EdgePipe"]</a></li>
                            <li><a href="/catalog/index/truba_ovalnaya">@catalog["CatOvalPipe"]</a></li>
                            <li><a href="/catalog/index/truba_specialnoj_formy">@catalog["CatSpecPipe"]</a></li>
                        </ul>
                        <a href="#" class="more"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="cat_item" aos="zoom-in">
                    <img src="~/Content/img/catalog/3.jpg" alt="" class="img-responsive">
                    <div class="overlay">
                        <h5>
                            @catalog["SuperCatCorners"]
                            <div class="line"></div>
                        </h5>
                        <ul>
                            <li><a href="/catalog/index/ugolok_ravnostoronnij">@catalog["CatSameCorner"]</a></li>
                            <li><a href="/catalog/index/ugolok_raznostoronnij">@catalog["CatDiffSize"]</a></li>
                        </ul>
                        <a href="#" class="more"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="cat_item" aos="zoom-in">
                    <img src="~/Content/img/catalog/6.jpg" alt="">
                    <div class="overlay">
                        <h5>
                            @catalog["SuperCatBars"]
                            <div class="line"></div>
                        </h5>
                        <ul>
                            <li><a href="/catalog/index/prutok_kruglyj">@catalog["CatRoundBar"]</a></li>
                            <li><a href="/catalog/index/prutok_kvadratnyj">@catalog["CatSquareBar"]</a></li>
                            <li><a href="/catalog/index/prutok_shestigrannyj">@catalog["Cat6EdgeBar"]</a></li>
                        </ul>
                        <a href="#" class="more"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="cat_item" aos="zoom-in">
                    <img src="~/Content/img/catalog/4.jpg" alt="" class="img-responsive">
                    <div class="overlay">
                        <h5>
                            @catalog["SuperCatOthers"]
                            <div class="line"></div>
                        </h5>
                        <ul>
                            <li><a href="/catalog/index/shveller">@catalog["CatShveller"]</a></li>
                            <li><a href="/catalo/index/tavr">@catalog["CatTavr"]</a></li>
                            <li><a href="/catalog/index/z-profil">@catalog["CatZProfile"]</a></li>
                            <li><a href="/catalog/index/dvutavr">@catalog["CatDoubleTavr"]</a></li>
                            <li><a href="/catalog/index/otbortovannyj_shveller">@catalog["CatBortedShveller"]</a></li>
                        </ul>
                        <a href="#" class="more"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="cat_more">
                    <div class="border"></div>
                    <div class="border"></div>
                    <div class="border"></div>
                    <div class="border"></div>
                    <a href="/Catalog" target="_blank">
                        @local["CheckCatalog"] <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="prod_s" id="prod_s">
    <div class="title_block">
        <h2>
            @local["Production"]
        </h2>
        <div class="line"></div>
    </div>
    <div class="factory_block">

    @{ int j = 0;
        }
@foreach(string item in (List<string>)HttpContext.Current.Application["ProductionCategories"])
{
<div class="item">
                <a href=@("/pages/production/"+item)><div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
@(((Dictionary<string,Dictionary<int,Dictionary<string,string>>>)HttpContext.Current.Application["Localization"])[(string)Session["Lang"]][5]["Title-"+(j++).ToString()])</a>
            </div>
}
    </div> 

<!-- <div class="container-fluid">
            <div class="row">
                <div class="skills_block">
                    <div class="skill_wrap">
                        <div class="skill">
                            <a href="#">Участок заготовки</a>
                        </div>
                    </div>
                    <div class="skill_wrap">
                        <div class="skill">
                            <a href="/pages/production?page=0">Литейное производство</a>
                        </div>
                    </div>
                    <div class="skill_wrap">
                        <div class="skill">
                            <a href="/pages/production?page=1">Экструзионное производство</a>
                        </div>
                    </div>
                    <div class="skill_wrap">
                        <div class="skill">
                            <a href="/pages/production?page=2">Цех анодного покрытия</a>
                        </div>
                    </div>
                    <div class="skill_wrap">
                        <div class="skill">
                            <a href="/pages/production?page=3">Цех полимерного покрытия</a>
                        </div>
                    </div>
                    <div class="skill_wrap">
                        <div class="skill">
                            <a href="#">Цех механическй обработки</a>
                        </div>
                    </div>
                    <div class="skill_wrap">
                        <div class="skill">
                            <a href="#">Цех абразивной подготовки поверхности</a>
                        </div>
                    </div>
                    <div class="skill_wrap">
                        <div class="skill">
                            <a href="#">Инструментальный цех</a>
                        </div>
                    </div>
                    <div class="skill_wrap">
                        <div class="skill">
                            <a href="#">Цех азотации матриц</a>
                        </div>
                    </div>
                    <div class="skill_wrap">
                        <div class="skill">
                            <a href="#">Цех по подготовке матриц</a>
                        </div>
                    </div>
                    <div class="skill_wrap">
                        <div class="skill">
                            <a href="/pages/production?page=4">Лаборатория</a>
                        </div>
                    </div>
                    <div class="skill_wrap">
                        <div class="skill">
                            <a href="/pages/production?page=5">Участок упаковки</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

</section>


<section class="stat_s" id="stat_s">
    <div class="overlay">
        <!-- <div class="break1"></div> -->
        <div class="container">
            <div class="title_block">
                <h2>
                    @local["FactsAbout"]
                </h2>
                <div class="line"></div>
            </div>
            <div class="row">
<div class="col-md-3">
                    <div class="item" id="stat_item2" aos="fade-right">
                        <div class="circle">
                            <i class="fa fa-archive"></i>
                        </div>
                        <p>
                            @Html.Raw(local["Powerful"])
                        </p>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="item" id="stat_item1" aos="fade-right" aos-delay="200">
                        <div class="circle">
                            <i class="fa fa-users"></i>
                        </div>
                        <p>
                            @Html.Raw(local["MuchCountries"])
                        </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="item" id="stat_item3" aos="fade-left">
                        <div class="circle">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        <p>
                            @Html.Raw(local["Assortiment"])
                        </p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="item" id="stat_item4" aos="fade-left" aos-delay="200">
                        <div class="circle">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <p>
                           @Html.Raw(local["24chasa"])
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@{
    List<Braz.Models.Post> list = ((List<Braz.Models.Post>)ViewData["Posts"]).OrderByDescending(x=>x.Date).ToList();
}
<section class="blog_s" id="blog_s">
    <div class="title_block">
        <h2>
            @local["BlogTitle"]
        </h2>
        <div class="line"></div>
    </div>
    <div class="flex_container">
        @for (int i = 0; i < 3; i++)
        {
            <div class="blog_item" style="background-image: url('../../Content/img/news/newsmore/@(list[i].Id.ToString()).index.jpg'); background-size: cover;" aos="zoom-out-left">
                <div class="cont_block">
                    <h4>@post["Header-"+list[i].Id.ToString()]</h4>
            <p>@list[i].Date.ToString("d MMM yyyy", System.Threading.Thread.CurrentThread.CurrentCulture)</p>
                    <div class="line"></div>
                    <p>
                        @Html.Raw(post["Text-"+list[i].Id.ToString()].Substring(0, System.Math.Min(post["Text-"+list[i].Id.ToString()].Length, 150)) + "...")
                    </p>
                </div>
                <div class="more_block">
                    <!--<p><i class="fa fa-heart"></i> <span>30</span> likes</p>-->
                    <br><br><br><br><br><br>
                    <a href="/blog/news?post=@(list[i].Id.ToString())">@local["Details"]</a>
                    <div class="border"></div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Код тега ремаркетинга Google -->
<!--------------------------------------------------
С помощью тега ремаркетинга запрещается собирать информацию, по которой можно идентифицировать личность пользователя. Также запрещается размещать тег на страницах с контентом деликатного характера. Подробнее об этих требованиях и о настройке тега читайте на странице http://google.com/ads/remarketingsetup.
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 932475633;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/932475633/?value=0&guid=ON&script=0"/>
</div>
</noscript>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TKRZ6W"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TKRZ6W');</script>
<!-- End Google Tag Manager -->


<section class="contact_s" id="contact_s">
    <div class="container-fluid">

        <div class="title_block">
            <h2>
                @local["FeedbackForm"]
            </h2>
            <div class="line"></div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <div class="form_block">
<b>@local["InCase"]</b>  <br><br>
                    @using (Ajax.BeginForm("SendFeedback", "Pages", new AjaxOptions() { HttpMethod="POST", UpdateTargetId="feedbackform" }, new { @id="feedbackform" }))
                    {
                        <input name="name" type="text" placeholder="@local["RegPHName"]" required aos="fade-right">
                        <input name ="phone" type="text" placeholder="@local["RegPHPhone"]" aos="fade-right">
                        <input name ="email" type="email" placeholder="@local["RegPHEmail"]" required aos="fade-right">
                        <textarea name="message" placeholder="@local["FeedbackPHText"]" aos="fade-right"></textarea>

                        <input type="submit" value="@local["Send"]" aos="fade-right">
                    }
<div class="group">
                        <p>+38 (044) 579-90-51</p>
                        <p>+38 (044) 579-90-45</p>
                        <p>@local["Address"]</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-6">
                <iframe class="map_block" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ7yB4eh7Z1EARW49RjZ_6OxE&key=AIzaSyAB3_gW1lrUrl6-WMJNosG02uJQiH43Csw" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

@*<section class="owl-carousel partners">
        <div class="item">
            <img src="~/Content/img/partners/1.png" alt="">
        </div>
        <div class="item">
            <img src="~/Content/img/partners/2.png" alt="">
        </div>
        <div class="item">
            <img src="~/Content/img/partners/3.png" alt="">
        </div>
    </section>*@


<div id="page-preloader"><span class="spinner"></span></div>

@section mainpage_svistoperdelka
{
   <div class="up_btn_area">
    <a class="up_btn" href="#header">
        <span><i class="fa fa-chevron-up"></i>@local["MoveUp"]</span>
    </a>
</div>
    <!-- <a class="cat_btn" href="/catalog">
        <div>
            <i class="fa fa-cog"></i>
        </div>
    </a> -->
    <header id="header">
        <div class="overlay">
            <h1>
                <div class="border"></div>
                <div class="border"></div>
                <div class="border"></div>
                <div class="border"></div>
                @local["Greeting"]
            </h1>
        </div>
}
@section HomeHeaderEnd
{
</header>
}



