@{
    var local = (Dictionary<string, string>)ViewData["Local"];
    ViewBag.Title = local["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="services_screen">
    <div class="serv_block" style="background-image: url('../../Content/img/serv/1.jpg')">
        <div class="overlay">
            <h5>@local["Head1"] <div class="line"></div></h5>
            
            <p>
                @Html.Raw(local["Text1"])
            </p>
        </div>
    </div>
    <div class="serv_block" style="background-image: url('../../Content/img/serv/2.jpg')">
        <div class="overlay">
            <h5>@local["Head2"] <div class="line"></div></h5>
            <p>
                @Html.Raw(local["Text2"])
            </p>
        </div>
    </div>
    <div class="serv_block" style="background-image: url('../../Content/img/serv/3.jpg')">
        <div class="overlay">
            <h5>@local["Head3"] <div class="line"></div></h5>
            <p>
                @Html.Raw(local["Text3"])
            </p>
        </div>
    </div>
    <div class="serv_block" style="background-image: url('../../Content/img/serv/4.jpg')">
        <div class="overlay">
            <h5>@local["Head4"] <div class="line"></div></h5>
            <p>
                @Html.Raw(local["Text4"])
            </p>
        </div>
    </div>
    <div class="serv_block" style="background-image: url('../../Content/img/serv/5.jpg')">
        <div class="overlay">
            <h5>@local["Head5"] <div class="line"></div></h5>
            <p>
                @Html.Raw(local["Text5"])
            </p>
        </div>
    </div>
    <div class="serv_block" style="background-image: url('../../Content/img/serv/6.jpg')">
        <div class="overlay">
            <h5>@local["Head6"] <div class="line"></div></h5>
            <p>
                @Html.Raw(local["Text6"])
            </p>
        </div>
    </div>
</section>



<div id="page-preloader"><span class="spinner"></span></div>
