@{
    var local = (Dictionary<string, string>)ViewData["Local"];
    ViewBag.Title = local["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="storyPage">
  <div class="container storyContainer">
    <div class="storyTitleDate" style="color: #00BBDA;">
        1979
      </div>
    <div>
      <div class="imgBlock" style="background-image: url(../../Content/img/story/1.jpg)"></div>
      <div class="storyText">
        @local["1979"]
      </div>
    </div>
<div class="storyTitleDate" style="color: #00BBDA;">
        2006
      </div>
    <div>
      <div class="imgBlock" aos="fade-right" style="background-image: url(../../Content/img/story/2.jpg); background-position:center;"></div>
      <div class="storyText" >
        @local["2006"]
      </div>
    </div>
<div class="storyTitleDate">
        2009
      </div>
    <div>
      <div class="imgBlock" aos="fade-left" style="background-image: url(../../Content/img/story/3.jpg)"></div>
      <div class="storyText">
       @local["2009"]
      </div>
    </div>
<div class="storyTitleDate" style="color: #00BBDA;">
        2011
      </div>
    <div>
      <div class="imgBlock" aos="fade-right" style="background-image: url(../../Content/img/story/4.jpg)"></div>
      <div class="storyText" >
        @local["2011"]
      </div>
    </div>
<br>
<br>

<div class="lastBlock">
      <div class="imgBlock" aos="fade-left" style="background-image: url(../../Content/img/story/5.jpg)"></div>
      <div class="storyText">
        @local["Now"]
      </div>
    </div>
</section>


<div id="page-preloader"><span class="spinner"></span></div>


